{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" aria-describedby="usernameHelp" placeholder="Enter username" id="username" name="_username" value="{{ last_username }}"/>
            <small id="usernameHelp" class="form-text text-muted">Your own unique nickname</small>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" class="form-control" placeholder="Password"/>
        </div>
        <input type="hidden" name="_target_path" value="/users"/>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}