{% extends 'base.html.twig' %}

{% import "common/pagination.html.twig" as pagination %}

{% block body %}
    <h2>Users</h2>
    <table class="table">
        <tr>
            <th>Login</th>
            <th>Status</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name|e }}</td>
                {% if user.active %}
                    <td>active</td>
                    <td><a href="{{ path('user_disable', {'id': user.id}) }}">disable</a></td>
                {% else %}
                    <td>not active</td>
                    <td><a href="{{ path('user_enable', {'id': user.id}) }}">enable</a></td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Users not found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ pagination.pagination(maxPage, currentPage, path('users') ~ '/', '', 3) }}
{% endblock %}