{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'was-validated'}}) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Enter username', 'aria-describedby=': 'usernameHelp'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.name) }}
            </div>
            <small id="usernameHelp" class="form-text text-muted">Your own unique nickname</small>
        </div>
        <div class="form-group">
            {{ form_label(form.password.first) }}
            {{ form_widget(form.password.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.password.first) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.password.second) }}
            {{ form_widget(form.password.second, {'attr': {'class': 'form-control', 'placeholder': 'Repeat password'}}) }}
            <div class="invalid-feedback">
                {{ form_errors(form.password.second) }}
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(form) }}
{% endblock %}