<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Main</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if app.request.pathinfo == path('users') %} active{% endif %}">
                <a class="nav-link" href="{{ path('users') }}">Users</a>
            </li>
            <li class="nav-item{% if app.request.pathinfo == path('login') %} active{% endif %}">
                <a id="login" class="nav-link" href="{{ path('login') }}">Sign in</a>
            </li>
            <li class="nav-item{% if app.request.pathinfo == path('create_user') %} active{% endif %}">
                <a class="nav-link" href="{{ path('create_user') }}">Sign up</a>
            </li>
        </ul>
    </div>

    {% if is_granted('ROLE_USER') %}
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="text-right nav-item{% if app.request.pathinfo == path('create_user') %} active{% endif %}">
                    <a class="nav-link" href="{{ logout_url() }}">Logout</a>
                </li>
            </ul>
        </div>
    {% endif %}
</nav>