{% macro pagination(maxPage, currentPage, url, paginationLabel, maxShowedPack) %}
    {% spaceless %}
        {% if maxPage > 1 %}
        <nav aria-label="{{ paginationLabel }}">
            <ul class="pagination justify-content-center">
                {% if currentPage > 1 %}
                    <li class="page-item"><a class="page-link" href="{{ url ~ (currentPage-1) }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">Previous</a></li>
                {% endif %}
                {% for i in 1..maxPage %}
                    {% if 0 == (currentPage - maxShowedPack) - loop.index %}
                        <li class="page-item"><a class="page-link" href="{{ (url ~ 1)|e }}">1</a></li>
                        {% if currentPage > 1 %}
                        {% if 1 != loop.index %}
                            <li class="page-item"><span>…</span></li>
                        {% endif %}
                    {% endif %}
                    {% elseif 0 == (currentPage + maxShowedPack) - loop.index  and (currentPage + maxShowedPack) < maxPage %}
                        <li class="page-item"><span>…</span></li>
                    {% elseif 0 < (currentPage - maxShowedPack) - loop.index %}
                    {% elseif 0 > (currentPage + maxShowedPack) - loop.index %}
                    {% else %}
                        <li class="page-item {{ currentPage == loop.index ? 'active' }}">
                            {% if currentPage == loop.index  %}
                                <a class="page-link disabled" {% if currentPage == loop.index %} aria-disabled="true"{% endif %} href="#">{{ loop.index }}</a>
                            {% else %}
                                <a class="page-link" href="{{ url ~ loop.index }}">{{ loop.index }}</a>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
                {% if currentPage != maxPage  and (currentPage + maxShowedPack) < maxPage %}
                    <li class="page-item"><a class="page-link" href="{{ (url ~ maxPage)|e }}">{{ maxPage }}</a></li>
                {% endif %}
                {% if currentPage < maxPage %}
                    <li class="page-item"><a class="page-link" href="{{ url ~ (currentPage+1) }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#" aria-disabled="true">Next</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    {% endspaceless %}
{% endmacro %}
